body {
    padding-left: 5vw;
    padding-right: 0.5vw;
    margin: 0;
    margin-top: 0;
    display: block;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: tahoma, Arial, Helvetica, sans-serif;
}

.navbar-brand{
    width: 250px;
}


@media (min-width: 70em) {
    .navbar-brand{
        width: 325px;
    }
}


a.nav-link {
    color: white !important;
}
a.nav-link:hover {
    text-decoration: none;
    border-bottom: 3px solid white !important;
}
a.nav-link.active {
    text-decoration: none;
    border-bottom: 3px solid white !important;
    border-bottom-width: 15px;
}


.container {
    max-width: 1770px;
}


.btn.signin {
    color: black !important;
    background-color: white !important;
    border-radius: 5px !important;
    box-sizing: border-box !important;
    
}
.btn.signup {
    color: white !important;
    background-color: transparent !important;
}



.containerr {
    height: 80%;
    width: 80%;
    margin: 30px 0px 0px 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    color: white;
}


.headline {
    font-size: 40px;
    font-weight: bolder;
}

.subtext{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 100;
}


@media (min-width: 50em) {
    .headline {
        font-size: 5.5vw;
        font-weight: bolder;
    }
}

@media (min-width: 70em) {
    .subtext{
    margin-top: 25px;
    font-size: 1.2vw;
    font-weight: 100;
    }
}


btn{
    border-radius: 10px;
    font-size: 12px;
    font-weight: 500;
    background-color: #FF5569;
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 13vh;
    width: 150px;
    line-height: 35px;
    }


@media (min-width: 100em) {
btn{
    border-radius: 10px;
    font-size: 0.9vw;
    font-weight: 500;
    background-color: #FF5569;
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 13vh;
    width: 13vw;
    line-height: 35px;
}
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #20252B;
    color: grey;
    font-size: 12px;
    padding: 3px;
    text-align: center;
}

.allCirlces{
    padding-top: 25px;
    margin-bottom: 25px;
}

.circle{
    background-color: cornflowerblue;
    margin-right: 25px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: inline-block;
}


.activeCircle{
    background-color: cornflowerblue;
    border: 2px solid darkgoldenrod;
    box-sizing: border-box;
    margin-right: 25px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: inline-block;
}

.circle:hover{
    background-color: cornflowerblue;
    border: 2px solid darkgoldenrod;
    margin-right: 25px;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: inline-block;
     cursor: pointer;
}


